---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Greeting from '../../components/Greeting';
import { getLangFromUrl } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url)
---
<BaseLayout pageTitle={"Home"}>
  <h2>My awesome blog subtitle</h2>
  <Greeting client:load messages={[lang, "Hi", "Hello", "Hey there"]} />
</BaseLayout>