---
import BaseLayout from "../../../layouts/BaseLayout.astro";

const allPosts = await Astro.glob("../posts/*.md");
const uniqueTags = [...new Set(allPosts.flatMap((post) => post.frontmatter.tags))]
---

<BaseLayout pageTitle={"Tag Index"}>
    <div class="row row-cols-auto pt-2 ps-2">
        {uniqueTags.map((tag) => 
            <p class="col border border-dark rounded px-3 py-2 mx-1"><a class="text-decoration-none" href={tag}>{tag}</a></p>
        )}
    </div>
</BaseLayout>
