---
import Social from "./Social.astro";
---

<div class="row me-0">
  <footer class="mt-5 px-4">
    <Social platform="github" username="elebosc" />
    <Social platform="linkedin" username="elebosc"/>
  </footer>
</div>
