---
import { languages } from '../i18n/strings';
---
<ul class="col-2 list-unstyled mb-0">
  {Object.entries(languages).map(([lang, label]) => (
    <li>
      <a href={`/${lang}/`}>{label}</a>
    </li>
  ))}
</ul>