---
import { languages } from '../i18n/strings';
import { getLangFromUrl } from '../i18n/utils';
const currentLang = getLangFromUrl(Astro.url)

function isActive(lang) {
    return (currentLang === lang) ? "active" : ""
}
---

<div class="dropdown">
    <button class="btn dropdown-toggle btn-outline-light text-uppercase" data-bs-toggle="dropdown" aria-expanded="false">
        {currentLang}
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
      {Object.entries(languages).map(([lang, label]) => (
        <li>
            <a class={`${"dropdown-item " + isActive(lang)}`} href={`/${lang}/`}>{label}</a>
        </li>
      ))}
    </ul>
</li>
