---
import { getLangFromUrl, getSectionFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

function highlightIfActive(section) {
    return (section == getSectionFromUrl(Astro.url)) ? "bg-secondaryOnNav" : "";
}
---

<a href=`/${lang}/` class={"block rounded-md px-3 py-2 text-base font-medium text-secondaryText hover:bg-hoverOnNav hover:text-secondaryText " + `${highlightIfActive("")}`}>
    {t('nav.home')}
</a>
<a href=`/${lang}/about/` class={"block rounded-md px-3 py-2 text-base font-medium text-secondaryText hover:bg-hoverOnNav hover:text-secondaryText " + `${highlightIfActive("about")}`}>
    {t('nav.about')}
</a>
<a href=`/${lang}/blog/` class={"block rounded-md px-3 py-2 text-base font-medium text-secondaryText hover:bg-hoverOnNav hover:text-secondaryText " + `${highlightIfActive("blog")}`}>
    {t('nav.blog')}
</a>
<a href=`/${lang}/tags/` class={"block rounded-md px-3 py-2 text-base font-medium text-secondaryText hover:bg-hoverOnNav hover:text-secondaryText " + `${highlightIfActive("tags")}`}>
    {t('nav.tags')}
</a>
