---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---
<div class="nav-links">
    <a href=`/${lang}/`>{t('nav.home')}</a>
    <a href=`/${lang}/about/`>{t('nav.about')}</a>
    <a href=`/${lang}/blog/`>{t('nav.blog')}</a>
    <a href=`/${lang}/tags/`>{t('nav.tags')}</a>
</div>
