---
const { platform, username } = Astro.props;
---

<a class="bg-primary text-secondaryText text-base decoration-transparent px-4 py-4" 
    href={`https://www.${platform}.com/${username}`}>{platform}</a>
