---
const { platform, username } = Astro.props;
---

<div class="d-inline bg-primary p-3 me-2">
    <a class="text-bg-primary text-decoration-none" href={`https://www.${platform}.com/${username}`}>{platform}</a>
</div>

