---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { getLangFromUrl } from '../i18n/utils';
import '../styles/bootstrap.scss';
import '../styles/rfs/scss/rfs.scss';

const lang = getLangFromUrl(Astro.url)
const { pageTitle } = Astro.props;
---

<html lang={lang}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{ pageTitle }</title>
	</head>
	<body>

		<div class="container-fluid">

			<Header/>

			<div id="main-content" class="row">
				<div class="container ps-4">
					<h1 class="text-primary fw-bold mt-4 mb-3 display-4">{ pageTitle }</h1>
					<slot/>
				</div>
			</div>

			<Footer/>

			<script>
				import '../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js';
			</script>

		</div>

		<script is:inline>

			function getTheme() {
				if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
					return localStorage.getItem('theme');
				} else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
				    return 'dark';
				} else {
					return 'light';
				}
			}

			const initialTheme = getTheme()
			const sunIcon = document.querySelectorAll(".sun")[0]
        	const moonIcon = document.querySelectorAll(".moon")[0]
			document.documentElement.setAttribute("data-bs-theme", initialTheme)
			if (initialTheme === 'light') {
				sunIcon.style.fill = "white"
            	moonIcon.style.fill = "transparent"
			} else if (initialTheme === 'dark') {
				sunIcon.style.fill = "transparent"
            	moonIcon.style.fill = "white"
			}
		
		</script>
		
	</body>
</html>
