---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { getLangFromUrl } from '../i18n/utils';
import '../styles/globals.css';

const lang = getLangFromUrl(Astro.url)
const { pageTitle } = Astro.props;
---

<html lang={lang}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{ pageTitle }</title>
	</head>
	<style is:global>

		h1 {
			@apply text-2xl;
			@apply text-primary;
			@apply dark:text-primaryDark;
			@apply font-bold;
			@apply pt-4;
		}

		h2 {
			@apply text-xl;
			@apply font-bold;
			@apply py-3;
		}

		h3 {
			@apply text-lg;
		}

		ul {
			@apply list-disc;
			@apply ml-10
		}

	</style>
	<body class="text-base dark:bg-bgDark dark:text-primaryTextDark">

		<Header client:load/>

		<div id="main-content" class="px-7">
			<h1>{ pageTitle }</h1>
			<slot/>
		</div>
		
		<Footer/>

		<script>
			import "../scripts/navbar.js";
		</script>
		
	</body>
</html>
